In [1]:
import json
import pandas as pd
import numpy as np

The following piece of code is used for storing the data in a dataframe

In [2]:
df = pd.DataFrame()
store = list()
with open("corona-out-2", "r") as f1:
    for line in f1:
        try:
            data = json.loads(line)
            store.append(data)

        except:
            continue

In [3]:
df = pd.DataFrame(store, columns = data.keys())

Info prints out the count stats of all the fields

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18518 entries, 0 to 18517
Data columns (total 29 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   created_at                 18518 non-null  object
 1   id                         18518 non-null  int64
 2   id_str                     18518 non-null  object
 3   text                       18518 non-null  object
 4   source                     18518 non-null  object
 5   truncated                  18518 non-null  bool
 6   in_reply_to_status_id      2528 non-null   float64
 7   in_reply_to_status_id_str  2528 non-null   object
 8   in_reply_to_user_id        2734 non-null   float64
 9   in_reply_to_user_id_str    2734 non-null   object
 10  in_reply_to_screen_name    2734 non-null   object
 11  user                       18518 non-null  object
 12  geo                        13 non-null     object
 13  coordinates                13 non-null     object
 14  place                      273 non-null    object
 15  contributors               0 non-null      object
 16  retweeted_status           11159 non-null  object
 17  is_quote_status            18518 non-null  bool
 18  quote_count                18518 non-null  int64
 19  reply_count                18518 non-null  int64
 20  retweet_count              18518 non-null  int64
 21  favorite_count             18518 non-null  int64
 22  entities                   18518 non-null  object
 23  favorited                  18518 non-null  bool
 24  retweeted                  18518 non-null  bool
 25  possibly_sensitive         3449 non-null   object
 26  filter_level               18518 non-null  object
 27  lang                       18518 non-null  object
 28  timestamp_ms               18518 non-null  object
dtypes: bool(4), float64(2), int64(5), object(18)
memory usage: 3.6+ MB

In [6]:
data

{'created_at': 'Sun Apr 12 18:47:53 +0000 2020',
 'id': 1249408918196871168,
 'id_str': '1249408918196871168',
 'text': 'RT @liputan6dotcom: Lagi, 2 Dokter Senior Meninggal karena Corona Covid-19 https://t.co/eDbMsxFA84',
 'source': '<a href="http://twitter.com/download/android" rel="nofollow">Twitter for Android</a>',
 'truncated': False,
 'in_reply_to_status_id': None,
 'in_reply_to_status_id_str': None,
 'in_reply_to_user_id': None,
 'in_reply_to_user_id_str': None,
 'in_reply_to_screen_name': None,
 'user': {'id': 2283278160,
  'id_str': '2283278160',
  'name': 'Mr rius',
  'screen_name': 'AwhexWibowo',
  'location': 'Yogyakarta, Indonesia',
  'url': None,
  'description': 'have fun go mad',
  'translator_type': 'none',
  'protected': False,
  'verified': False,
  'followers_count': 451,
  'friends_count': 608,
  'listed_count': 2,
  'favourites_count': 4625,
  'statuses_count': 31160,
  'created_at': 'Thu Jan 09 08:34:03 +0000 2014',
  'utc_offset': None,
  'time_zone': None,
  'geo_enabled': True,
  'lang': None,
  'contributors_enabled': False,
  'is_translator': False,
  'profile_background_color': 'C0DEED',
  'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme1/bg.png',
  'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme1/bg.png',
  'profile_background_tile': False,
  'profile_link_color': '1DA1F2',
  'profile_sidebar_border_color': 'C0DEED',
  'profile_sidebar_fill_color': 'DDEEF6',
  'profile_text_color': '333333',
  'profile_use_background_image': True,
  'profile_image_url': 'http://pbs.twimg.com/profile_images/1045333930910482432/9T4eZEsi_normal.jpg',
  'profile_image_url_https': 'https://pbs.twimg.com/profile_images/1045333930910482432/9T4eZEsi_normal.jpg',
  'profile_banner_url': 'https://pbs.twimg.com/profile_banners/2283278160/1585672135',
  'default_profile': True,
  'default_profile_image': False,
  'following': None,
  'follow_request_sent': None,
  'notifications': None},
 'geo': None,
 'coordinates': None,
 'place': None,
 'contributors': None,
 'retweeted_status': {'created_at': 'Sun Apr 12 17:22:04 +0000 2020',
  'id': 1249387319229988865,
  'id_str': '1249387319229988865',
  'text': 'Lagi, 2 Dokter Senior Meninggal karena Corona Covid-19 https://t.co/eDbMsxFA84',
  'source': '<a href="https://dlvrit.com/" rel="nofollow">dlvr.it</a>',
  'truncated': False,
  'in_reply_to_status_id': None,
  'in_reply_to_status_id_str': None,
  'in_reply_to_user_id': None,
  'in_reply_to_user_id_str': None,
  'in_reply_to_screen_name': None,
  'user': {'id': 47596019,
   'id_str': '47596019',
   'name': 'Liputan6.com',
   'screen_name': 'liputan6dotcom',
   'location': 'Jakarta Indonesia',
   'url': None,
   'description': 'Download Apps https://t.co/Tg70sLl3Dc di sini https://t.co/DkBRaoqgmX \nWebsite : https://t.co/Tg70sLl3Dc                                   \nContact us: Liputan6Socmed@gmail.com',
   'translator_type': 'regular',
   'protected': False,
   'verified': True,
   'followers_count': 3675977,
   'friends_count': 693,
   'listed_count': 4806,
   'favourites_count': 7055,
   'statuses_count': 1375342,
   'created_at': 'Tue Jun 16 10:48:24 +0000 2009',
   'utc_offset': None,
   'time_zone': None,
   'geo_enabled': True,
   'lang': None,
   'contributors_enabled': False,
   'is_translator': False,
   'profile_background_color': 'E88317',
   'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme16/bg.gif',
   'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme16/bg.gif',
   'profile_background_tile': False,
   'profile_link_color': 'E88317',
   'profile_sidebar_border_color': 'FFFFFF',
   'profile_sidebar_fill_color': 'F05A31',
   'profile_text_color': '0099CC',
   'profile_use_background_image': False,
   'profile_image_url': 'http://pbs.twimg.com/profile_images/1196221192916439041/SuL7oIar_normal.jpg',
   'profile_image_url_https': 'https://pbs.twimg.com/profile_images/1196221192916439041/SuL7oIar_normal.jpg',
   'profile_banner_url': 'https://pbs.twimg.com/profile_banners/47596019/1585833284',
   'default_profile': False,
   'default_profile_image': False,
   'following': None,
   'follow_request_sent': None,
   'notifications': None},
  'geo': None,
  'coordinates': None,
  'place': None,
  'contributors': None,
  'is_quote_status': False,
  'quote_count': 7,
  'reply_count': 12,
  'retweet_count': 86,
  'favorite_count': 108,
  'entities': {'hashtags': [],
   'urls': [{'url': 'https://t.co/eDbMsxFA84',
     'expanded_url': 'http://dlvr.it/RTf5SD',
     'display_url': 'dlvr.it/RTf5SD',
     'indices': [55, 78]}],
   'user_mentions': [],
   'symbols': []},
  'favorited': False,
  'retweeted': False,
  'possibly_sensitive': False,
  'filter_level': 'low',
  'lang': 'in'},
 'is_quote_status': False,
 'quote_count': 0,
 'reply_count': 0,
 'retweet_count': 0,
 'favorite_count': 0,
 'entities': {'hashtags': [],
  'urls': [{'url': 'https://t.co/eDbMsxFA84',
    'expanded_url': 'http://dlvr.it/RTf5SD',
    'display_url': 'dlvr.it/RTf5SD',
    'indices': [75, 98]}],
  'user_mentions': [{'screen_name': 'liputan6dotcom',
    'name': 'Liputan6.com',
    'id': 47596019,
    'id_str': '47596019',
    'indices': [3, 18]}],
  'symbols': []},
 'favorited': False,
 'retweeted': False,
 'possibly_sensitive': False,
 'filter_level': 'low',
 'lang': 'in',
 'timestamp_ms': '1586717273650'}

In [27]:
user_df = pd.DataFrame(columns = (df['user'][0]).keys())

In [28]:
for i in range(df.shape[0]):
    user_df.loc[i] = df['user'][i]

In [30]:
user_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18518 entries, 0 to 18517
Data columns (total 39 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   id                                  18518 non-null  int64
 1   id_str                              18518 non-null  object
 2   name                                18518 non-null  object
 3   screen_name                         18518 non-null  object
 4   location                            11456 non-null  object
 5   url                                 3974 non-null   object
 6   description                         14608 non-null  object
 7   translator_type                     18518 non-null  object
 8   protected                           18518 non-null  bool
 9   verified                            18518 non-null  bool
 10  followers_count                     18518 non-null  int64
 11  friends_count                       18518 non-null  int64
 12  listed_count                        18518 non-null  int64
 13  favourites_count                    18518 non-null  int64
 14  statuses_count                      18518 non-null  int64
 15  created_at                          18518 non-null  object
 16  utc_offset                          0 non-null      object
 17  time_zone                           0 non-null      object
 18  geo_enabled                         18518 non-null  bool
 19  lang                                0 non-null      object
 20  contributors_enabled                18518 non-null  bool
 21  is_translator                       18518 non-null  bool
 22  profile_background_color            18518 non-null  object
 23  profile_background_image_url        18518 non-null  object
 24  profile_background_image_url_https  18518 non-null  object
 25  profile_background_tile             18518 non-null  bool
 26  profile_link_color                  18518 non-null  object
 27  profile_sidebar_border_color        18518 non-null  object
 28  profile_sidebar_fill_color          18518 non-null  object
 29  profile_text_color                  18518 non-null  object
 30  profile_use_background_image        18518 non-null  bool
 31  profile_image_url                   18518 non-null  object
 32  profile_image_url_https             18518 non-null  object
 33  profile_banner_url                  14012 non-null  object
 34  default_profile                     18518 non-null  bool
 35  default_profile_image               18518 non-null  bool
 36  following                           0 non-null      object
 37  follow_request_sent                 0 non-null      object
 38  notifications                       0 non-null      object
dtypes: bool(9), int64(6), object(24)
memory usage: 4.5+ MB

Geo and coordinates are the same

In [42]:
geo_df = pd.DataFrame(columns = (df['geo'][51]).keys())
for index, i in enumerate(df[df['geo'].notna()].index) :
    geo_df.loc[index] = df['geo'][i]

In [43]:
geo_df

     type                   coordinates
0   Point            [31.5497, 74.3436]
1   Point        [1.4775, 103.63953056]
2   Point             [51.2185, 6.7805]
3   Point    [52.49394947, 13.29741839]
4   Point          [-34.6089, -58.4397]
5   Point  [34.01753693, -117.81113592]
6   Point            [19.0627, 72.8764]
7   Point  [-29.96775366, -51.16533794]
8   Point   [-3.85444444, -40.92111111]
9   Point           [33.8753, -117.566]
10  Point                [47.0, -110.0]
11  Point  [-22.91704538, -43.38647748]
12  Point            [50.3714, -4.1424]

In [55]:
cord_df = pd.DataFrame(columns = (df['coordinates'][51]).keys())
for index, i in enumerate(df[df['coordinates'].notna()].index) :
    cord_df.loc[index] = df['coordinates'][i]

In [47]:
cord_df

     type                   coordinates
0   Point            [74.3436, 31.5497]
1   Point        [103.63953056, 1.4775]
2   Point             [6.7805, 51.2185]
3   Point    [13.29741839, 52.49394947]
4   Point          [-58.4397, -34.6089]
5   Point  [-117.81113592, 34.01753693]
6   Point            [72.8764, 19.0627]
7   Point  [-51.16533794, -29.96775366]
8   Point   [-40.92111111, -3.85444444]
9   Point           [-117.566, 33.8753]
10  Point                [-110.0, 47.0]
11  Point  [-43.38647748, -22.91704538]
12  Point            [-4.1424, 50.3714]

In [56]:
place_df = pd.DataFrame(columns = (df['place'][51]).keys())
for index, i in enumerate(df[df['place'].notna()].index) :
    place_df.loc[index] = df['place'][i]

In [71]:
place_df['url'][0]

'https://api.twitter.com/1.1/geo/id/3166615088e5d058.json'

In [67]:
place_df  #most likely to do with location from where tweet was sent?
#relevant attributes: id, name, country code

,id,url,place_type,name,full_name,country_code,country,bounding_box,attributes
0,3166615088e5d058,https://api.twitter.com/1.1/geo/id/3166615088e...,city,Nilüfer,"Nilüfer, Türkiye",TR,Türkiye,"{'type': 'Polygon', 'coordinates': [[[28.89592...",{}
1,0102baa70911fc52,https://api.twitter.com/1.1/geo/id/0102baa7091...,city,Katsina,"Katsina, Nigeria",NG,Nigeria,"{'type': 'Polygon', 'coordinates': [[[7.572255...",{}
2,003d5766281b4194,https://api.twitter.com/1.1/geo/id/003d5766281...,city,Lahore,"Lahore, Pakistan",PK,Pakistan,"{'type': 'Polygon', 'coordinates': [[[74.26758...",{}
3,6cf201f76d55b4c9,https://api.twitter.com/1.1/geo/id/6cf201f76d5...,city,Newbury,"Newbury, England",GB,United Kingdom,"{'type': 'Polygon', 'coordinates': [[[-1.35529...",{}
4,c802a7998015a1ed,https://api.twitter.com/1.1/geo/id/c802a799801...,city,Ciomas,"Ciomas, Indonesia",ID,Indonesia,"{'type': 'Polygon', 'coordinates': [[[106.7183...",{}
...,...,...,...,...,...,...,...,...,...
268,79748d4d83ee9513,https://api.twitter.com/1.1/geo/id/79748d4d83e...,city,Rättvik,"Rättvik, Sverige",SE,Sverige,"{'type': 'Polygon', 'coordinates': [[[14.87097...",{}
269,2e6064382c71b343,https://api.twitter.com/1.1/geo/id/2e6064382c7...,city,Noida,"Noida, India",IN,India,"{'type': 'Polygon', 'coordinates': [[[77.30212...",{}
270,a592bd6ceb1319f7,https://api.twitter.com/1.1/geo/id/a592bd6ceb1...,city,San Diego,"San Diego, CA",US,United States,"{'type': 'Polygon', 'coordinates': [[[-117.282...",{}
271,01e5da1b2875d48f,https://api.twitter.com/1.1/geo/id/01e5da1b287...,city,Wesley Chapel,"Wesley Chapel, NC",US,United States,"{'type': 'Polygon', 'coordinates': [[[-80.7084...",{}
272,173c2bb9d42baaa5,https://api.twitter.com/1.1/geo/id/173c2bb9d42...,country,Sri Lanka,Sri Lanka,LK,Sri Lanka,"{'type': 'Polygon', 'coordinates': [[[79.65052...",{}

In [66]:
user_df[user_df['id']==place_df['id'][0]]  #id must be place specific nothing to do with user

Empty DataFrame
Columns: [id, id_str, name, screen_name, location, url, description, translator_type, protected, verified, followers_count, friends_count, listed_count, favourites_count, statuses_count, created_at, utc_offset, time_zone, geo_enabled, lang, contributors_enabled, is_translator, profile_background_color, profile_background_image_url, profile_background_image_url_https, profile_background_tile, profile_link_color, profile_sidebar_border_color, profile_sidebar_fill_color, profile_text_color, profile_use_background_image, profile_image_url, profile_image_url_https, profile_banner_url, default_profile, default_profile_image, following, follow_request_sent, notifications]
Index: []

[0 rows x 39 columns]

In [70]:
df['place'][27]

{'id': '3166615088e5d058',
 'url': 'https://api.twitter.com/1.1/geo/id/3166615088e5d058.json',
 'place_type': 'city',
 'name': 'Nilüfer',
 'full_name': 'Nilüfer, Türkiye',
 'country_code': 'TR',
 'country': 'Türkiye',
 'bounding_box': {'type': 'Polygon',
  'coordinates': [[[28.89592, 40.176966],
    [28.89592, 40.27546],
    [29.012762, 40.27546],
    [29.012762, 40.176966]]]},
 'attributes': {}}

In [74]:
rt_df = pd.DataFrame(columns = (df['retweeted_status'][0]).keys())  #doesn't include timestamp
for index, i in enumerate(df[df['retweeted_status'].notna()].index) :
    rt_df.loc[index] = df['retweeted_status'][i]

In [166]:
df['retwee']

0        False
1        False
2        False
3        False
4        False
         ...
18513    False
18514    False
18515    False
18516    False
18517    False
Name: retweeted, Length: 18518, dtype: bool

In [162]:
rt_df['retweeted'] #cannot retweet a retweet

0        False
1        False
2        False
3        False
4        False
         ...
11154    False
11155    False
11156    False
11157    False
11158    False
Name: retweeted, Length: 11159, dtype: bool

In [158]:
df['quote_count'].sum()#irrelevant

0

In [161]:
sum(df['reply_count']) #irrelevant

0

In [84]:
df['is_quote_status'].sum() #no clue

3015

Entities!

In [144]:
ent_df = pd.DataFrame(columns = (df['entities'][51]).keys())
for index, i in enumerate(df[df['entities'].notna()].index) :
    ent_df.loc[index] = df['entities'][i]

In [146]:
for col in (ent_df.columns):
    ent_df[col] = [i[0] if len(i)!=0 else np.nan for i in ent_df[col] ]

In [151]:
ent_df['user_mentions'][0]

{'screen_name': 'nuffsaidny',
 'name': 'NUFF',
 'id': 16144221,
 'id_str': '16144221',
 'indices': [3, 14]}

In [168]:
ent_df['user_mentions'][0]

{'screen_name': 'nuffsaidny',
 'name': 'NUFF',
 'id': 16144221,
 'id_str': '16144221',
 'indices': [3, 14]}

In [155]:
df['text'][0] #matches any mentions in the tweet

'RT @nuffsaidny: wishing death on people is weirdo behavior.'

In [124]:
df.columns[df.notna().sum(axis = 0)<18518]  #these may or may not be conditional

Index(['in_reply_to_status_id', 'in_reply_to_status_id_str',
       'in_reply_to_user_id', 'in_reply_to_user_id_str',
       'in_reply_to_screen_name', 'geo', 'coordinates', 'place',
       'contributors', 'retweeted_status', 'possibly_sensitive'],
      dtype='object')

In [128]:
index = list()
for i in range(df.shape[1]):
    col = df.iloc[:,i]
    if col[col == "None"].sum() > 0:
        index.append[i]

In [141]:
df['text'][4]

'RT @biannagolodryga: This image.\nThis quote.\n\n“One of the reasons the pandemic is hitting the country so hard is that no one appears to be…'

In [219]:
print(df.loc[0]['retweeted_status']['retweeted'])
#print(df.loc[0]['retweeted_status']['text'])#missing timestamp and retweet status

False

In [221]:
df[df['truncated']== True]['text'][18444]

'Indeed, this world is vanity and those who fight and boast about goodies of life have lost a great deal. This Coron… https://t.co/b6bgOGdRGc'

In [160]:
df[df['is_quote_status']== True]['text'][2]

'RT @umesh_agr: Thank You Sir !!\nReally thankful for encouraging the \n@BSNL_OR \n Staff risking their life in maintaining the Telecom Service…'

In [163]:
df[df['retweeted']== True]

Empty DataFrame
Columns: [created_at, id, id_str, text, source, truncated, in_reply_to_status_id, in_reply_to_status_id_str, in_reply_to_user_id, in_reply_to_user_id_str, in_reply_to_screen_name, user, geo, coordinates, place, contributors, retweeted_status, is_quote_status, quote_count, reply_count, retweet_count, favorite_count, entities, favorited, retweeted, possibly_sensitive, filter_level, lang, timestamp_ms]
Index: []

[0 rows x 29 columns]

In [168]:
df[df['possibly_sensitive']== True]['text'][18279]

"There's No case of corona virus in Anambra, all are lies, the stories they cooked of a man with corona virus escapi… https://t.co/hpMQ6M0Zg2"

In [172]:
pd.unique(df['filter_level'])

array(['low'], dtype=object)

In [156]:
df[df['filter_level']== 'low'][1:10]

,created_at,id,id_str,text,source,truncated,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,in_reply_to_user_id_str,...,reply_count,retweet_count,favorite_count,entities,favorited,retweeted,possibly_sensitive,filter_level,lang,timestamp_ms
1,Sun Apr 12 18:27:25 +0000 2020,1249403768023678982,1249403768023678982,"RT @lale_karanfil: In Turkey, there are 300 th...","<a href=""https://mobile.twitter.com"" rel=""nofo...",False,NaN,None,NaN,None,...,0,0,0,"{'hashtags': [], 'urls': [], 'user_mentions': ...",False,False,NaN,low,en,1586716045753
2,Sun Apr 12 18:27:26 +0000 2020,1249403769193779202,1249403769193779202,RT @umesh_agr: Thank You Sir !!\nReally thankf...,"<a href=""http://twitter.com/download/android"" ...",False,NaN,None,NaN,None,...,0,0,0,"{'hashtags': [], 'urls': [], 'user_mentions': ...",False,False,NaN,low,en,1586716046032
3,Sun Apr 12 18:27:26 +0000 2020,1249403769567227906,1249403769567227906,RT @meysimek: Turkey is so stubborn to change ...,"<a href=""http://twitter.com/download/android"" ...",False,NaN,None,NaN,None,...,0,0,0,"{'hashtags': [], 'urls': [], 'user_mentions': ...",False,False,NaN,low,en,1586716046121
4,Sun Apr 12 18:27:26 +0000 2020,1249403770435493888,1249403770435493888,RT @biannagolodryga: This image.\nThis quote.\...,"<a href=""https://mobile.twitter.com"" rel=""nofo...",False,NaN,None,NaN,None,...,0,0,0,"{'hashtags': [], 'urls': [], 'user_mentions': ...",False,False,NaN,low,en,1586716046328
5,Sun Apr 12 18:27:26 +0000 2020,1249403770360016896,1249403770360016896,SERÁ APENAS COINCIDÊNCIA?\n\nApós escudo do Re...,"<a href=""http://twitter.com/download/android"" ...",True,NaN,None,NaN,None,...,0,0,0,"{'hashtags': [], 'urls': [{'url': 'https://t.c...",False,False,False,low,pt,1586716046310
6,Sun Apr 12 18:27:26 +0000 2020,1249403770833981440,1249403770833981440,RT @biannagolodryga: This image.\nThis quote.\...,"<a href=""http://twitter.com/download/android"" ...",False,NaN,None,NaN,None,...,0,0,0,"{'hashtags': [], 'urls': [], 'user_mentions': ...",False,False,NaN,low,en,1586716046423
7,Sun Apr 12 18:27:26 +0000 2020,1249403771077005315,1249403771077005315,RT @SarkariHelpline: भाजपा नेता तज़िंदर बग्गा ...,"<a href=""http://twitter.com/download/android"" ...",False,NaN,None,NaN,None,...,0,0,0,"{'hashtags': [], 'urls': [], 'user_mentions': ...",False,False,NaN,low,hi,1586716046481
8,Sun Apr 12 18:27:26 +0000 2020,1249403771261722624,1249403771261722624,"#Bo der Osterhase hat nicht Corona, er ist gek...","<a href=""http://twitter.com/download/android"" ...",False,NaN,None,NaN,None,...,0,0,0,"{'hashtags': [{'text': 'Bo', 'indices': [0, 3]...",False,False,NaN,low,de,1586716046525
9,Sun Apr 12 18:27:26 +0000 2020,1249403771676815361,1249403771676815361,RT @ani_royal007: India Mai Corona Virus Ka Bh...,"<a href=""http://twitter.com/download/android"" ...",False,NaN,None,NaN,None,...,0,0,0,"{'hashtags': [], 'urls': [], 'user_mentions': ...",False,False,False,low,in,1586716046624

In [223]:
(pd.unique(df['lang']))

array(['en', 'pt', 'hi', 'de', 'in', 'tr', 'mr', 'ja', 'es', 'ca', 'und',
       'sv', 'fr', 'nl', 'it', 'ar', 'tl', 'ur', 'ta', 'ht', 'pl', 'fa',
       'bn', 'et', 'ro', 'gu', 'lt', 'fi', 'kn', 'da', 'te', 'vi', 'ne',
       'ml', 'cy', 'cs', 'ru', 'th', 'si', 'sl', 'iw', 'or', 'no', 'hu',
       'eu', 'bg', 'el'], dtype=object)

In [30]:
# this is a partial template for processing the dataset to store into the datastores.
# you will need to write functions for the psuedocode sections and invoke them here

#insert path and replace name of the file below as needed
with open("corona-out-2", "r") as f1:
    for line in f1:
        try:
            data = json.loads(line)
            # pseudocode: 
            # if tweet has been seen before, 
            #         continue (ignore this tweet, go to next iteration of loop)
            
            user = data['user']
            # psuedocode: 
            # if user has not been seen before
            #            add to user table 
            # update datastores with any metrics that you are tracking 
            
            if ( data['text'].startswith('RT') ):
                # psuedocode:
                # update retweet information
                # note that you may not have an entry for the original tweet 
                # if that is not in the dataset
                pass  # does nothing right now
                
            else:
                # psuedocode:
                # add the new tweet to datastore
                pass # does nothing right now
        except:
            continue

In [189]:
data

{'created_at': 'Sun Apr 12 18:47:53 +0000 2020',
 'id': 1249408918196871168,
 'id_str': '1249408918196871168',
 'text': 'RT @liputan6dotcom: Lagi, 2 Dokter Senior Meninggal karena Corona Covid-19 https://t.co/eDbMsxFA84',
 'source': '<a href="http://twitter.com/download/android" rel="nofollow">Twitter for Android</a>',
 'truncated': False,
 'in_reply_to_status_id': None,
 'in_reply_to_status_id_str': None,
 'in_reply_to_user_id': None,
 'in_reply_to_user_id_str': None,
 'in_reply_to_screen_name': None,
 'user': {'id': 2283278160,
  'id_str': '2283278160',
  'name': 'Mr rius',
  'screen_name': 'AwhexWibowo',
  'location': 'Yogyakarta, Indonesia',
  'url': None,
  'description': 'have fun go mad',
  'translator_type': 'none',
  'protected': False,
  'verified': False,
  'followers_count': 451,
  'friends_count': 608,
  'listed_count': 2,
  'favourites_count': 4625,
  'statuses_count': 31160,
  'created_at': 'Thu Jan 09 08:34:03 +0000 2014',
  'utc_offset': None,
  'time_zone': None,
  'geo_enabled': True,
  'lang': None,
  'contributors_enabled': False,
  'is_translator': False,
  'profile_background_color': 'C0DEED',
  'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme1/bg.png',
  'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme1/bg.png',
  'profile_background_tile': False,
  'profile_link_color': '1DA1F2',
  'profile_sidebar_border_color': 'C0DEED',
  'profile_sidebar_fill_color': 'DDEEF6',
  'profile_text_color': '333333',
  'profile_use_background_image': True,
  'profile_image_url': 'http://pbs.twimg.com/profile_images/1045333930910482432/9T4eZEsi_normal.jpg',
  'profile_image_url_https': 'https://pbs.twimg.com/profile_images/1045333930910482432/9T4eZEsi_normal.jpg',
  'profile_banner_url': 'https://pbs.twimg.com/profile_banners/2283278160/1585672135',
  'default_profile': True,
  'default_profile_image': False,
  'following': None,
  'follow_request_sent': None,
  'notifications': None},
 'geo': None,
 'coordinates': None,
 'place': None,
 'contributors': None,
 'retweeted_status': {'created_at': 'Sun Apr 12 17:22:04 +0000 2020',
  'id': 1249387319229988865,
  'id_str': '1249387319229988865',
  'text': 'Lagi, 2 Dokter Senior Meninggal karena Corona Covid-19 https://t.co/eDbMsxFA84',
  'source': '<a href="https://dlvrit.com/" rel="nofollow">dlvr.it</a>',
  'truncated': False,
  'in_reply_to_status_id': None,
  'in_reply_to_status_id_str': None,
  'in_reply_to_user_id': None,
  'in_reply_to_user_id_str': None,
  'in_reply_to_screen_name': None,
  'user': {'id': 47596019,
   'id_str': '47596019',
   'name': 'Liputan6.com',
   'screen_name': 'liputan6dotcom',
   'location': 'Jakarta Indonesia',
   'url': None,
   'description': 'Download Apps https://t.co/Tg70sLl3Dc di sini https://t.co/DkBRaoqgmX \nWebsite : https://t.co/Tg70sLl3Dc                                   \nContact us: Liputan6Socmed@gmail.com',
   'translator_type': 'regular',
   'protected': False,
   'verified': True,
   'followers_count': 3675977,
   'friends_count': 693,
   'listed_count': 4806,
   'favourites_count': 7055,
   'statuses_count': 1375342,
   'created_at': 'Tue Jun 16 10:48:24 +0000 2009',
   'utc_offset': None,
   'time_zone': None,
   'geo_enabled': True,
   'lang': None,
   'contributors_enabled': False,
   'is_translator': False,
   'profile_background_color': 'E88317',
   'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme16/bg.gif',
   'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme16/bg.gif',
   'profile_background_tile': False,
   'profile_link_color': 'E88317',
   'profile_sidebar_border_color': 'FFFFFF',
   'profile_sidebar_fill_color': 'F05A31',
   'profile_text_color': '0099CC',
   'profile_use_background_image': False,
   'profile_image_url': 'http://pbs.twimg.com/profile_images/1196221192916439041/SuL7oIar_normal.jpg',
   'profile_image_url_https': 'https://pbs.twimg.com/profile_images/1196221192916439041/SuL7oIar_normal.jpg',
   'profile_banner_url': 'https://pbs.twimg.com/profile_banners/47596019/1585833284',
   'default_profile': False,
   'default_profile_image': False,
   'following': None,
   'follow_request_sent': None,
   'notifications': None},
  'geo': None,
  'coordinates': None,
  'place': None,
  'contributors': None,
  'is_quote_status': False,
  'quote_count': 7,
  'reply_count': 12,
  'retweet_count': 86,
  'favorite_count': 108,
  'entities': {'hashtags': [],
   'urls': [{'url': 'https://t.co/eDbMsxFA84',
     'expanded_url': 'http://dlvr.it/RTf5SD',
     'display_url': 'dlvr.it/RTf5SD',
     'indices': [55, 78]}],
   'user_mentions': [],
   'symbols': []},
  'favorited': False,
  'retweeted': False,
  'possibly_sensitive': False,
  'filter_level': 'low',
  'lang': 'in'},
 'is_quote_status': False,
 'quote_count': 0,
 'reply_count': 0,
 'retweet_count': 0,
 'favorite_count': 0,
 'entities': {'hashtags': [],
  'urls': [{'url': 'https://t.co/eDbMsxFA84',
    'expanded_url': 'http://dlvr.it/RTf5SD',
    'display_url': 'dlvr.it/RTf5SD',
    'indices': [75, 98]}],
  'user_mentions': [{'screen_name': 'liputan6dotcom',
    'name': 'Liputan6.com',
    'id': 47596019,
    'id_str': '47596019',
    'indices': [3, 18]}],
  'symbols': []},
 'favorited': False,
 'retweeted': False,
 'possibly_sensitive': False,
 'filter_level': 'low',
 'lang': 'in',
 'timestamp_ms': '1586717273650'}

In [22]:
data['user']

{'id': 2283278160,
 'id_str': '2283278160',
 'name': 'Mr rius',
 'screen_name': 'AwhexWibowo',
 'location': 'Yogyakarta, Indonesia',
 'url': None,
 'description': 'have fun go mad',
 'translator_type': 'none',
 'protected': False,
 'verified': False,
 'followers_count': 451,
 'friends_count': 608,
 'listed_count': 2,
 'favourites_count': 4625,
 'statuses_count': 31160,
 'created_at': 'Thu Jan 09 08:34:03 +0000 2014',
 'utc_offset': None,
 'time_zone': None,
 'geo_enabled': True,
 'lang': None,
 'contributors_enabled': False,
 'is_translator': False,
 'profile_background_color': 'C0DEED',
 'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme1/bg.png',
 'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme1/bg.png',
 'profile_background_tile': False,
 'profile_link_color': '1DA1F2',
 'profile_sidebar_border_color': 'C0DEED',
 'profile_sidebar_fill_color': 'DDEEF6',
 'profile_text_color': '333333',
 'profile_use_background_image': True,
 'profile_image_url': 'http://pbs.twimg.com/profile_images/1045333930910482432/9T4eZEsi_normal.jpg',
 'profile_image_url_https': 'https://pbs.twimg.com/profile_images/1045333930910482432/9T4eZEsi_normal.jpg',
 'profile_banner_url': 'https://pbs.twimg.com/profile_banners/2283278160/1585672135',
 'default_profile': True,
 'default_profile_image': False,
 'following': None,
 'follow_request_sent': None,
 'notifications': None}

In [5]:
# this code block allows you to inspect 2 tweets and 2 retweets in the dataset
# it also saves all the unique tweets/retweets in the dictionary tweets
# this code will help you to understand the data
# feel free to print out more fields

lines=0
num_tweets=0
num_retweets=0
print_tweet = 0
print_retweet = 0
tweets = {}

#insert path and replace name of the file below as needed
with open("corona-out-2", "r") as f1:
    for line in f1:
        try:
            data = json.loads(line)
            lines = lines + 1
            if ( data['text'].startswith('RT') ):
                num_retweets += 1
                #print out some fields of one retweet 
                #note that you should look at other fields too
                if (print_retweet < 2):
                    print_retweet += 1
                    print('RETWEET\n','id--',data['id'],'text--',data['text'],'\n')
                    
                    print('User-- ',data['user'],'\n')
                  
                    print('retweetstatus--',data['retweeted_status'],'\n')
                  

            else:
                num_tweets += 1
                #print out some fields of one tweet 
                #note that you should look at other fields too
                if (print_tweet < 2):
                    print_tweet += 1
                    print('TWEET\n','id--',data['id'],'text--',data['text'],'\n')
                    print('User-- ',data['user'],'\n')
                    


            if (data['id_str'] not in tweets):
                tweets[data['id_str']] = data
            
        except:
            # if there is an error loading the json of the tweet, skip
            continue
            
print('num of lines=',lines, 'num of tweets=',num_tweets, 'num of retweets=',num_retweets)
print('num of unique tweets/retweets=',len(tweets.keys()))

RETWEET
 id-- 1249403767180668930 text-- RT @nuffsaidny: wishing death on people is weirdo behavior.

User--  {'id': 1242817830946508801, 'id_str': '1242817830946508801', 'name': 'juwelz v', 'screen_name': 'juwelz_v', 'location': 'Lower East Side, Manhattan', 'url': 'https://linktr.ee/juwelzv', 'description': 'Event Lyfe LLC .. Brand Ambassador: #visionarysociety Music Manager: @ssizzzlee & @tmoneybeatsbang Production🎥📸 #BringNyCultureBack 🌊🌊🌊 !!', 'translator_type': 'none', 'protected': False, 'verified': False, 'followers_count': 43, 'friends_count': 118, 'listed_count': 0, 'favourites_count': 722, 'statuses_count': 906, 'created_at': 'Wed Mar 25 14:17:28 +0000 2020', 'utc_offset': None, 'time_zone': None, 'geo_enabled': False, 'lang': None, 'contributors_enabled': False, 'is_translator': False, 'profile_background_color': 'F5F8FA', 'profile_background_image_url': '', 'profile_background_image_url_https': '', 'profile_background_tile': False, 'profile_link_color': '1DA1F2', 'profile_sidebar_border_color': 'C0DEED', 'profile_sidebar_fill_color': 'DDEEF6', 'profile_text_color': '333333', 'profile_use_background_image': True, 'profile_image_url': 'http://pbs.twimg.com/profile_images/1246253579805089797/Ks1MrEDW_normal.jpg', 'profile_image_url_https': 'https://pbs.twimg.com/profile_images/1246253579805089797/Ks1MrEDW_normal.jpg', 'profile_banner_url': 'https://pbs.twimg.com/profile_banners/1242817830946508801/1585146985', 'default_profile': True, 'default_profile_image': False, 'following': None, 'follow_request_sent': None, 'notifications': None}

retweetstatus-- {'created_at': 'Sun Apr 12 16:48:01 +0000 2020', 'id': 1249378751349231616, 'id_str': '1249378751349231616', 'text': 'wishing death on people is weirdo behavior.', 'source': '<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>', 'truncated': False, 'in_reply_to_status_id': None, 'in_reply_to_status_id_str': None, 'in_reply_to_user_id': None, 'in_reply_to_user_id_str': None, 'in_reply_to_screen_name': None, 'user': {'id': 16144221, 'id_str': '16144221', 'name': 'NUFF', 'screen_name': 'nuffsaidny', 'location': None, 'url': None, 'description': 'instagram: @nuffsaidny 🇹🇹', 'translator_type': 'regular', 'protected': False, 'verified': False, 'followers_count': 17112, 'friends_count': 1515, 'listed_count': 874, 'favourites_count': 15790, 'statuses_count': 2599, 'created_at': 'Fri Sep 05 14:28:41 +0000 2008', 'utc_offset': None, 'time_zone': None, 'geo_enabled': True, 'lang': None, 'contributors_enabled': False, 'is_translator': False, 'profile_background_color': 'C0DEED', 'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme1/bg.png', 'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme1/bg.png', 'profile_background_tile': True, 'profile_link_color': 'E81C4F', 'profile_sidebar_border_color': '000000', 'profile_sidebar_fill_color': '000000', 'profile_text_color': '000000', 'profile_use_background_image': True, 'profile_image_url': 'http://pbs.twimg.com/profile_images/1240511913152282624/I024wGWG_normal.jpg', 'profile_image_url_https': 'https://pbs.twimg.com/profile_images/1240511913152282624/I024wGWG_normal.jpg', 'default_profile': False, 'default_profile_image': False, 'following': None, 'follow_request_sent': None, 'notifications': None}, 'geo': None, 'coordinates': None, 'place': None, 'contributors': None, 'quoted_status_id': 1249315454797168641, 'quoted_status_id_str': '1249315454797168641', 'quoted_status': {'created_at': 'Sun Apr 12 12:36:30 +0000 2020', 'id': 1249315454797168641, 'id_str': '1249315454797168641', 'text': 'I pray my haters die of corona virus 😷', 'source': '<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>', 'truncated': False, 'in_reply_to_status_id': None, 'in_reply_to_status_id_str': None, 'in_reply_to_user_id': None, 'in_reply_to_user_id_str': None, 'in_reply_to_screen_name': None, 'user': {'id': 46769281, 'id_str': '46769281', 'name': 'Gucci Mane', 'screen_name': 'gucci1017', 'location': 'EAST ATLANTA', 'url': 'https://guccimane.lnk.to/Woptober2', 'description': 'Major Label Recording Artist, signed to Atlantic Records. | wizopbooking@gmail.com', 'translator_type': 'none', 'protected': False, 'verified': True, 'followers_count': 8483937, 'friends_count': 1, 'listed_count': 10366, 'favourites_count': 11016, 'statuses_count': 21123, 'created_at': 'Fri Jun 12 22:52:05 +0000 2009', 'utc_offset': None, 'time_zone': None, 'geo_enabled': False, 'lang': None, 'contributors_enabled': False, 'is_translator': False, 'profile_background_color': '000000', 'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme14/bg.gif', 'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme14/bg.gif', 'profile_background_tile': False, 'profile_link_color': '009999', 'profile_sidebar_border_color': 'FFFFFF', 'profile_sidebar_fill_color': 'EFEFEF', 'profile_text_color': '333333', 'profile_use_background_image': True, 'profile_image_url': 'http://pbs.twimg.com/profile_images/1236396637284700161/cq6xECoN_normal.jpg', 'profile_image_url_https': 'https://pbs.twimg.com/profile_images/1236396637284700161/cq6xECoN_normal.jpg', 'profile_banner_url': 'https://pbs.twimg.com/profile_banners/46769281/1583614905', 'default_profile': False, 'default_profile_image': False, 'following': None, 'follow_request_sent': None, 'notifications': None}, 'geo': None, 'coordinates': None, 'place': None, 'contributors': None, 'is_quote_status': False, 'quote_count': 3376, 'reply_count': 1956, 'retweet_count': 9246, 'favorite_count': 33006, 'entities': {'hashtags': [], 'urls': [], 'user_mentions': [], 'symbols': []}, 'favorited': False, 'retweeted': False, 'filter_level': 'low', 'lang': 'en'}, 'quoted_status_permalink': {'url': 'https://t.co/FdZ3Hxzfwl', 'expanded': 'https://twitter.com/gucci1017/status/1249315454797168641', 'display': 'twitter.com/gucci1017/stat…'}, 'is_quote_status': True, 'quote_count': 1, 'reply_count': 1, 'retweet_count': 24, 'favorite_count': 50, 'entities': {'hashtags': [], 'urls': [], 'user_mentions': [], 'symbols': []}, 'favorited': False, 'retweeted': False, 'filter_level': 'low', 'lang': 'en'}

RETWEET
 id-- 1249403768023678982 text-- RT @lale_karanfil: In Turkey, there are 300 thousand prisoners and 150 thousand prison employees in prisons.
Prisons are the most risky pl…

User--  {'id': 1225145123920588805, 'id_str': '1225145123920588805', 'name': 'efe09', 'screen_name': 'efe0927183508', 'location': None, 'url': None, 'description': "Allah'ın en değerli eseri insandır.\nCanı yanan sabretsin.\nCan yakan, canının yanacağı günü beklesin..\n677 khk\nRT düşüncem olduğu anlamına gelmez bilgi amaçlıdır", 'translator_type': 'none', 'protected': False, 'verified': False, 'followers_count': 653, 'friends_count': 983, 'listed_count': 0, 'favourites_count': 1255, 'statuses_count': 4177, 'created_at': 'Wed Feb 05 19:52:38 +0000 2020', 'utc_offset': None, 'time_zone': None, 'geo_enabled': False, 'lang': None, 'contributors_enabled': False, 'is_translator': False, 'profile_background_color': 'F5F8FA', 'profile_background_image_url': '', 'profile_background_image_url_https': '', 'profile_background_tile': False, 'profile_link_color': '1DA1F2', 'profile_sidebar_border_color': 'C0DEED', 'profile_sidebar_fill_color': 'DDEEF6', 'profile_text_color': '333333', 'profile_use_background_image': True, 'profile_image_url': 'http://pbs.twimg.com/profile_images/1243137514665361409/95Mv0oRS_normal.jpg', 'profile_image_url_https': 'https://pbs.twimg.com/profile_images/1243137514665361409/95Mv0oRS_normal.jpg', 'profile_banner_url': 'https://pbs.twimg.com/profile_banners/1225145123920588805/1585222614', 'default_profile': True, 'default_profile_image': False, 'following': None, 'follow_request_sent': None, 'notifications': None}

retweetstatus-- {'created_at': 'Sun Apr 12 18:02:41 +0000 2020', 'id': 1249397541596286979, 'id_str': '1249397541596286979', 'text': 'In Turkey, there are 300 thousand prisoners and 150 thousand prison employees in prisons. \nPrisons are the most ris… https://t.co/GogsgfUxkE', 'source': '<a href="http://twitter.com/download/android" rel="nofollow">Twitter for Android</a>', 'truncated': True, 'in_reply_to_status_id': None, 'in_reply_to_status_id_str': None, 'in_reply_to_user_id': None, 'in_reply_to_user_id_str': None, 'in_reply_to_screen_name': None, 'user': {'id': 1087735689091928064, 'id_str': '1087735689091928064', 'name': 'Karanfil Lale', 'screen_name': 'lale_karanfil', 'location': None, 'url': None, 'description': None, 'translator_type': 'none', 'protected': False, 'verified': False, 'followers_count': 897, 'friends_count': 1120, 'listed_count': 1, 'favourites_count': 2776, 'statuses_count': 7986, 'created_at': 'Tue Jan 22 15:36:12 +0000 2019', 'utc_offset': None, 'time_zone': None, 'geo_enabled': False, 'lang': None, 'contributors_enabled': False, 'is_translator': False, 'profile_background_color': 'F5F8FA', 'profile_background_image_url': '', 'profile_background_image_url_https': '', 'profile_background_tile': False, 'profile_link_color': '1DA1F2', 'profile_sidebar_border_color': 'C0DEED', 'profile_sidebar_fill_color': 'DDEEF6', 'profile_text_color': '333333', 'profile_use_background_image': True, 'profile_image_url': 'http://pbs.twimg.com/profile_images/1248313542387757057/see_F0uX_normal.jpg', 'profile_image_url_https': 'https://pbs.twimg.com/profile_images/1248313542387757057/see_F0uX_normal.jpg', 'profile_banner_url': 'https://pbs.twimg.com/profile_banners/1087735689091928064/1571123765', 'default_profile': True, 'default_profile_image': False, 'following': None, 'follow_request_sent': None, 'notifications': None}, 'geo': None, 'coordinates': None, 'place': None, 'contributors': None, 'is_quote_status': False, 'extended_tweet': {'full_text': 'In Turkey, there are 300 thousand prisoners and 150 thousand prison employees in prisons. \nPrisons are the most risky places in case of corona virus.\nThe lives of thousands of people are at risk.\n\n#COVID19InTurkeysPrisons\n\n@SusannaCeccardi', 'display_text_range': [0, 239], 'entities': {'hashtags': [{'text': 'COVID19InTurkeysPrisons', 'indices': [197, 221]}], 'urls': [], 'user_mentions': [{'screen_name': 'SusannaCeccardi', 'name': 'Susanna Ceccardi', 'id': 406110645, 'id_str': '406110645', 'indices': [223, 239]}], 'symbols': []}}, 'quote_count': 0, 'reply_count': 1, 'retweet_count': 14, 'favorite_count': 6, 'entities': {'hashtags': [], 'urls': [{'url': 'https://t.co/GogsgfUxkE', 'expanded_url': 'https://twitter.com/i/web/status/1249397541596286979', 'display_url': 'twitter.com/i/web/status/1…', 'indices': [117, 140]}], 'user_mentions': [], 'symbols': []}, 'favorited': False, 'retweeted': False, 'filter_level': 'low', 'lang': 'en'}

TWEET
 id-- 1249403770360016896 text-- SERÁ APENAS COINCIDÊNCIA?

Após escudo do Remo aparecer em prédio, Prefeitura divulgou que 33 pessoas com corona se… https://t.co/lCcwYH2eg5

User--  {'id': 988174833849634816, 'id_str': '988174833849634816', 'name': 'TV Conservador / Metró', 'screen_name': 'TVConservador', 'location': 'Belém, Brasil', 'url': None, 'description': 'Emissora afiliada a Rede Metrópole (@cnt_pr) no estado do Pará. As notícias aqui dadas são FICTÍCIAS, não pegue corda ok 👍\n\n© Sistema O Conservador Ltda.', 'translator_type': 'none', 'protected': False, 'verified': False, 'followers_count': 7240, 'friends_count': 566, 'listed_count': 17, 'favourites_count': 18417, 'statuses_count': 22665, 'created_at': 'Sun Apr 22 21:56:54 +0000 2018', 'utc_offset': None, 'time_zone': None, 'geo_enabled': False, 'lang': None, 'contributors_enabled': False, 'is_translator': False, 'profile_background_color': '000000', 'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme1/bg.png', 'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme1/bg.png', 'profile_background_tile': False, 'profile_link_color': '1B95E0', 'profile_sidebar_border_color': '000000', 'profile_sidebar_fill_color': '000000', 'profile_text_color': '000000', 'profile_use_background_image': False, 'profile_image_url': 'http://pbs.twimg.com/profile_images/1245501760518701057/zUWjkVz__normal.jpg', 'profile_image_url_https': 'https://pbs.twimg.com/profile_images/1245501760518701057/zUWjkVz__normal.jpg', 'profile_banner_url': 'https://pbs.twimg.com/profile_banners/988174833849634816/1585783589', 'default_profile': False, 'default_profile_image': False, 'following': None, 'follow_request_sent': None, 'notifications': None}

TWEET
 id-- 1249403771261722624 text-- #Bo der Osterhase hat nicht Corona, er ist gekommen.

User--  {'id': 1171484224244744198, 'id_str': '1171484224244744198', 'name': 'Elfpunkt', 'screen_name': 'meElfpunkt', 'location': None, 'url': None, 'description': 'Mal 1 mal 0 mal Tilt', 'translator_type': 'none', 'protected': False, 'verified': False, 'followers_count': 3, 'friends_count': 53, 'listed_count': 0, 'favourites_count': 72, 'statuses_count': 60, 'created_at': 'Tue Sep 10 18:03:17 +0000 2019', 'utc_offset': None, 'time_zone': None, 'geo_enabled': False, 'lang': None, 'contributors_enabled': False, 'is_translator': False, 'profile_background_color': 'F5F8FA', 'profile_background_image_url': '', 'profile_background_image_url_https': '', 'profile_background_tile': False, 'profile_link_color': '1DA1F2', 'profile_sidebar_border_color': 'C0DEED', 'profile_sidebar_fill_color': 'DDEEF6', 'profile_text_color': '333333', 'profile_use_background_image': True, 'profile_image_url': 'http://abs.twimg.com/sticky/default_profile_images/default_profile_normal.png', 'profile_image_url_https': 'https://abs.twimg.com/sticky/default_profile_images/default_profile_normal.png', 'default_profile': True, 'default_profile_image': False, 'following': None, 'follow_request_sent': None, 'notifications': None}

num of lines= 18518 num of tweets= 7356 num of retweets= 11162
num of unique tweets/retweets= 18506